.create-post { 
    border:1px solid lightgray;  
    border-radius: 8px;  
    padding: 14px 14px 5px 14px;  
    background-color:#fff;  
    margin-bottom: 1rem; 

    .create-post-wrapper { 
        border-radius: 5px;  
    } 
    
    .create-post-input { 
        display:flex;  
        align-items:center;  
        justify-content:space-between;
        gap: 1rem; 
        border-radius: 5px;  
    } 

    .create-post-avatar { 
        width:48px; 
        height:48px; 
        border-radius:50%;  
    }

    .create-post-input-field { 
        flex: 1;
        padding: 14px 20px;
        border-radius: 52px;
        border: 1px solid var(--gray);
        background-color: transparent;
        color: var(--darkOff);
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        outline: none;
        cursor: pointer;
        transition: .2s ease;
        &:hover {
            background-color: var(--whiteOff);
        }
    } 
  
    .create-post-media-wrapper { 
        margin-top: 5px;
        padding: 10px 0 0 0; 
        display: flex;  
        align-items: center; 
        justify-content: space-around;  
    } 
  
    .ceate-post-media { 
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 14px 8px;
        border-radius: 5px;
        transition: .2s ease;
        cursor: pointer;

        &:hover {
            background: #edeff0;
        }

        .media-icon {
            font-size: 18px;
        }

        .media-text {
            font-size: 14px;
            color: var(--darkOff);
        }

        .photo {
            color: #378fe9;
        }

        .video {
            color: #5f9b41;
        }

        .event {
            color: #c37d16;
        }

        .article {
            color: #e16745;
        }
    }
} 

// modal 
.create-post-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 1111;
    border:1px solid var(--whiteOff);
    
    .post-modal-wrapper {
        width: 50%;
        margin: 30px auto auto auto;
        background: #fff;
        border-radius: 8px;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid var(--whiteOff);
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
    }


    .modal-body {
        padding: 15px;

        textarea,input {
            border: 1px solid var(--whiteOff);
            border-radius: 10px;
            padding: 15px;
            outline: none;
            font-size: 16px;
            width: 100%;
        }
    }


    .modal-footer {
        padding: 10px;
    }

    .post-btn {
        padding: 6px 15px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        background-color: var(--blue);
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }


    &.close-modal {
        display: none;
    }
}